.tabela-atestados {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 60px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    margin-bottom: 300px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #023279;
    color: white;
}
button {
    padding: 5px 10px;
    margin: 5px;
    background-color: #1d58b0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #023279;
}

body {
    background-color: #f2f6fa;
}

.title-area {
    text-align: center;
    margin-top: 50px;
    color: #023279;
  }
   
  .title-area h1 {
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
   
  .title-area p {
    font-size: 1.3rem;
    color: #4a4a4a;
    font-family: Arial, Helvetica, sans-serif;
  }
   
  .title-with-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
   
  .titulo-img {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }