body {
    margin: 0;
    background-color: #e2e8f0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    width: 100%;
    max-width: 600px;
    margin-top: 80px;
}

.logo-title {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    color: #023279;
    margin: 0;
    font-size: 2.5rem;
    margin-bottom: 30px;
    justify-content: center;
    margin-top: 80px;
}

.logo-title img {
    width: 120px;
    height: 120px;
}

.card {
    background-color: #fff;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    border-left: 6px solid #003f8a;
}

input, textarea, select, label {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 8px;
    border: 1px solid #cbd5e0;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}

input:focus, textarea:focus, select:focus {
    border-color: #2563eb;
    outline: none;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d4ed8;
}

.texto {
    font-size: 1.3rem;
    color: #4a4a4a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ok-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.ok-button:hover {
    background-color: #1d4ed8;
}
