* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial;
  }

  body {
    height: 2000px /* temporário */
  }
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background-color: #023279; 
    height: 80px;
    transition: transform 0.3s ease;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 16px;
    border: 1.5px solid transparent;
  }

  .top_title h1 {
    background: linear-gradient( #021f4b, #337fcb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 280px;
    color: white; 
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.4);
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }